.app {
  min-height: 100vh;
  background-color: transparent;
  @include flex-col(flex-start, stretch);
  &__carousel {
    background-color: var(--page-bg);
    @include transition(background-color);
    @include media {
      display: none;
    }
  }
}
