.app-header {
  @extend %bb;
  padding-bottom: 42px;
  &__nav {
    padding: 14px 0;
    @include container;
    @extend %bb;
    margin: 0;
  }
  &__link {
    @include transition(color);
    @include media {
      &:hover > * {
        color: lighten($N100, 20%);
      }
    }
    &:active > * {
      color: $N100;
    }
  }
  &__title {
    @include text($H900, 500);
    margin: 0;
  }
}