.app {
  min-height: 100vh;
  padding-bottom: 64px;
  @include media {
    padding-bottom: 32px;
  }
  &__carousel {
    @include media {
      .app-carousel {
        display: none;
      }
    }
  }
}