.exchange-card-currency {
  flex: 0 0 40%;
  align-self: stretch;
  @include flex-col(space-between, center);
  &__head {
    width: 100%;
    @include flex-row(space-between, center);
    @include media {
      @include flex-col(flex-start, center);
    }
  }
  &__footer {
    display: none;
    @include media {
      display: block;
      font-size: $H500;
      align-self: flex-start;
    }
  }
  &__row {
    @include flex-row(center, center);
  }
  &__info {
    font-size: $H500;
    margin-right: 6px;
    
  }
  &__icon {
    @include size(20px);
    order: -1;
    margin-right: 4px;
    @include media {
      order: 2;
      margin-right: 0;
    }
  }
  &__toggle {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    @include transition(filter, transform);
    &.sell {
      color: $O1;
    }
    &.buy {
      color: $G3;
    }
    @include media {
      &:hover  {
        filter: brightness(1.1);
      }
    }
    &:active  {
      filter: brightness(0.9);
      transform: rotate(360deg);
    }
  }
  &__icon-exchange {
    font-size: 24px;
    position: relative;
  }
  &__currency {
    display: none;
    @include media {
      display: inline-block;
      @include text($H500, 500);
      margin-right: 0
    }
  }
  &__rate {
    margin-left: 12px;
    @include media {
      display: none;
    }
  }
  &__input {
    border: none;
    outline: none;
    @include text($H800, 500);
    border-bottom: 1px solid $N1;
    margin: 14px 0;
    text-align: center;
    width: 100%;
    &::placeholder {
      @include text($H400, 400, $N6);
    }
    @include media {
      text-align: left;
      margin: 0;
    }
  }
}
