$style: exchange-card;
.#{$style} {
  @extend %card;
  width: 100%;
  max-width: 100%;
  padding: 24px;
  @include flex-col(flex-start, center);
  z-index: 2;
  @include media {
    @include flex-row(space-between, center);
    position: relative;
    flex: 0 1 660px;
    max-width: 660px;
    top: -52px;
    height: 200px;
  }
  &__ontop-button {
    position: fixed;
    top: 24px;
    right: 24px;
  }
  &__side {
    flex: 0 0 42%;
    align-self: stretch;
    @include flex-col(space-between, center);
  }
  &__row {
    @include flex-row(center, center);
  }
  &__info {
    font-size: $H500;
    margin-right: 6px;
  }
  &__icon {
    @include size(20px);
  }
  &__toggle {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    @include transition(filter, transform);
    transition-duration: 0.6s;
    @include media {
      transition-duration: 0.2s;
    }
    &.sell {
      color: $O1;
    }
    &.buy {
      color: $G3;
    }
    &.cross {
      color: $N100;
      pointer-events: none;
      cursor: default;
    }
    @include media {
      &:hover  {
        filter: brightness(1.1);
      }
    }
    &:active  {
      filter: brightness(0.9);
      transform: rotate(360deg);
    }
  }
  &__toggle-wrapper {
    position: relative;
    margin: 24px 0;
    @include media {
      margin: 0 24px;
    }
  }
  &__icon-exchange {
    @include svg(26px, $N100);
    @include transition(all);
    &.sell {
      fill: $O1;
    }
    &.buy {
      fill: $G3;
    }
    &.cross {
      fill: $B2;
    }
    &--for-skeleton {
      margin: 14px 0 22px;
    }
  }
  &__skeleton {
    width: calc(50% - 48px);
    flex: 1 1 calc(50% - 48px);
    .ant-skeleton-paragraph {
      @include flex-col(center, stretch);
      li {
        width: 100% !important;
      }
    }
  }
  &__method {
    text-transform: capitalize;
    position: absolute;
    display: none;
    @include media {
      bottom: 25px;
      display: block;
      left: 50%;
      transform: translateX(-50%);
    }
    &--mobile {
      display: block;
      left: 110%;
      top: 0;
      bottom: 0;
      transform: translateY(2px);
      margin-right: 6px;
      @include media {
        display: none;
      }
    }
  }
}
