.home-page {
  @include container;
  position: relative;
  @include flex-col(flex-start, stretch);
  padding-bottom: 64px;
  @include media {
    @include flex-row;
    padding-bottom: 32px;
  }
  &__exchange-card {
    order: 2;
    @include media {
      margin-right: 72px;
      order: 0;
    }
  }
}