.select-card {
  position: relative;
  top: -32px;
  &__title {
    @include text($H500, 400);
    margin-bottom: 32px;
  }
  &__row {
    @include flex-row(flex-start, center);
  }
  &__icon-exchange {
    margin: 0 16px;
  }
  &__select {
    width: 200px;
  }
}