// * {
//   box-sizing: border-box;
//   margin: 0;
//   bottom: 0;
// }

html {
  touch-action: manipulation;
}

body, a, textarea, input, button {
  font-family: $base-font;
}

a, button {
  display: inline-flex;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.ant-select-open, .ant-select-focused {
  .ant-select-selection {
    border-color: $N7;
    box-shadow: none;
    outline: none;
  }
}
.ant-select-selection  {
  &:hover {
    border-color: $N7;
  }
  &:focus {
    box-shadow: none;
    outline: none;
  }
}