%bb {
  border-bottom: 1px solid $N1;
}

%card {
  box-shadow: 0 5px 10px rgba(116, 79, 79, 0.12);
  border-radius: 8px;
  min-height: 140px;
  font-size: $H400;
  background-color: $N0;
}

%link-underline {
  position: relative;
  &:after {
    content: '';
    display: block;
    height: 1px;
    background-color: $N100;
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    @include transition(width);
  }
  &:hover {
    color: inherit;
    &:after {
      width: 100%;
    }
  }
}

@-webkit-keyframes AnimationGradient {
  0%{background-position:0% 81%}
  50%{background-position:100% 20%}
  100%{background-position:0% 81%}
}
@-moz-keyframes AnimationGradient {
  0%{background-position:0% 81%}
  50%{background-position:100% 20%}
  100%{background-position:0% 81%}
}
@keyframes AnimationGradient {
  0%{background-position:0% 81%}
  50%{background-position:100% 20%}
  100%{background-position:0% 81%}
}

%animate-gradient {
  background: linear-gradient(271deg, $R2, $Y2, $G1, #17a781, $B2);
  background-size: 1000% 1000%;
  animation: AnimationGradient 39s ease infinite;
}
